@import "tailwindcss";

/* Chrome Autofill Fix (Safe + Stable) */
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0px 1000px #01263B inset !important;
  transition: background-color 9999s ease-in-out 0s;
}
/* Override global table header styling */
thead th {
  font-size: 20px !important;
  font-weight: 600 !important;
  text-transform: none !important;
  padding: 24px 16px !important;
}
